html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  width: 100%;
  position: fixed;
  border-bottom: solid;
  border-width: thin;
  border-color: seashell;
  background-color: black;
  z-index: 1;
  height: 69px;
  margin-top: -8px;
  margin-left: -8px;
}

div.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  align-items: center;
}

img.img_logo {
  height: 60px;
  align-item: center;
  margin-left: 10px;
  margin:0;
}
  
span.header_nav a {
  color: seashell;
  padding: 10px;
  opacity: 0.9;
}

/* Completion of Header CSS */

/* start of main_container with 3 container option */

#main_container {
    padding-top: 62px;
}

div.top_container {
  display: flex;
  height: 700px;
  width: 1200px;
  margin: auto;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
}

div.pic_mission_con {
  background-color: black;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}


/* Start of Middle Container */

div.mid_container {
  display: flex;
  width: 1000px;
  align-items: center;
  flex-direction: column;
}

img.img_mid {
  height: 200px;
  width: 300px;
}

div.three_pic {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
}

img.img_mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

div.two_pic {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
}


span.line_text {
  display: flex;
}

