header {
  display: flex;
  width: 100%;
  position: fixed;
  border-bottom: solid;
  border-weight: thin;
  background-color: black;
  z-index: 1;
  margin-top: -10px;
  height: 69px;
}

div.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  color: white;
  align-items: center;
}
  
